{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}  Категории {% endblock %}</h1>
    <table class="table table-striped">
    <thead class="thead-dark">
        <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        </tr>
    </thead>
    <tbody>
    {% for post in posts %}
        <tr>
            <th scope="row"><h4>{{ post['category_id']}}</h4></th>
            <td><h4>{{ post['category_title'] }}</h4></td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}