{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}  Категории {% endblock %}</h1>
    <table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Действие</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row"><h4>{{ '-'}}</h4></th>
        <td>
        <form method="post">
            <div class="input-group mb-3">
                <input type="text" name="categori_name"  class="form-control" placeholder="Введи название новой категории" aria-label="Введи название новой категории" aria-describedby="basic-addon2">
                </div>
                <div class="input-group-append">
                <td> <button type="submit" class="btn btn-success" name="send_button" value='Create'>Отправить</button></td>
            </div>       
        </form>
        </td>
    </tr>
    {% for post in posts %}
            <tr>
                <form method="post">
                    <th scope="row">
                        <input name='cat_view' value={{ post['view_order']}} style='width: 100%; border-box;border: none;background-color: transparent;color: black;' placeholder={{ post['view_order']}}></input>
                    </th>

                        <td>
            
                            <div class="input-group-append">
                                <input name='cat_title' value={{ post['category_title']}} style='width: 100%; border-box;border: none;background-color: transparent;color: black;'placeholder={{ post['category_title']}}></input>
                            </div>
                        </td>
                        <td>
                                <button type="button" onclick="location.href='{{ post['category_id']}}/subedit';" class="btn btn-primary">Подкласс</button>
                                <button type="submit" value={{ post['category_id']}} class="btn btn-warning" name="change_button" value='Change'>Изменить</button>
                                <button type="submit" value={{ post['category_id']}} class="btn btn-danger" name="delete_button" value='Delete'>Удалить</button>
                        </td>
                    </div> 
                </form>
            </tr>
        
    {% endfor %}
    </tbody>
{% endblock %}