{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}  Пользователи {% endblock %}</h1>
    <table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">user_id</th>
            <th scope="col">username</th>
          </tr>
    </thead>
    <tbody>
    {% for post in posts %}
        <tr>
            <th scope="row"><h4>{{ post['_id'] }}</h4></th>
            <td><h4>{{ post['user_id']}}</h4></td>
            <td><h4>{{ post['user_name']}}</h4></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}